// Variables
$primaryFontFamily: "Open Sans", sans-serif;
$secondaryFontFamily: "Nunito", sans-serif;
$primaryColor: #29313d;
$secondaryColor: #8454f5;
$primaryHeadingSize: 54px;
$paragraphFontSize: 18px;
